extends ./layout/index
block contenido
  main.container.mt-5 
    .row 
      .col-md-5
        img(src="img/nosotros.jpg", alt="", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis laoreet arcu. Nunc ut sem et ex scelerisque posuere sit amet pretium odio. 

        p Cras at ligula magna. Morbi tincidunt accumsan arcu vitae scelerisque. Nullam pretium sollicitudin ultricies. Suspendisse gravida lacus non metus euismod aliquet. Nulla rhoncus placerat auctor.

        p Mauris molestie volutpat ante lobortis cursus. Nam fermentum sagittis pulvinar. Integer posuere, turpis sit amet imperdiet ultricies, arcu mi elementum nunc, sit amet blandit purus nunc ut sem. Suspendisse non luctus ex.
  .listado-iconos 
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Phasellus placerat tincidunt eleifend. Ut hendrerit egestas consequat. Fusce posuere euismod auctor. Donec posuere tortor purus, et sodales elit placerat et.
        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Phasellus placerat tincidunt eleifend. Ut hendrerit egestas consequat. Fusce posuere euismod auctor. Donec posuere tortor purus, et sodales elit placerat et.
        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
          h2.mb-4 Mejores precios
          p Phasellus placerat tincidunt eleifend. Ut hendrerit egestas consequat. Fusce posuere euismod auctor. Donec posuere tortor purus, et sodales elit placerat et.